<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">作物の情報を入力</h2>

    <%= form_with model: @crop, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object =%>
    
    <div class="img-upload">
      <div class = "img-upload-text">
        <div class="weight-bold-text">
          出品画像
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <div class="file-up">
            クリックorドラッグ&ドロップで画像ファイルを４枚アップロード
          </div>
      </div>

      <div class = "sell-container__content__upload__items__box">
        <ul id="output-box">
          <div id="image-input", tabindex:"0" >
            <%= f.label :images, for: "item_images0", class: 'sell-container__content__upload__items__box__label ', data: {label_id: 0} do %>
              <%= f.file_field :images, multiple: true, class: ' dropzone drop-item', name: 'crop[images][]', id: "item_images0" %>
            <% end %>
          <div >
        </ul>
      </div>
    </div>
  </div>


    <div class="new-items">
      <div class="weight-bold-text">
        作物名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :item_name, class:"items-text", id:"item-name", placeholder:"作物名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          作物の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :explanation, class:"items-text", id:"item-info", placeholder:"作物の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

    <div class="items-detail">
      <div class="weight-bold-text">作物の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          作物の状態
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:condition_id, Condition.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>

    <div class="items-detail">
      <div class="weight-bold-text">非売、販売の選択</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.radio_button :discontinued, 0, checked: true %>
        <%= f.label :discontinued, "販売品", {value: 0, style: "display: inline-block;"} %>
        <%= f.radio_button :discontinued, 1 %>
        <%= f.label :discontinued, "非売品/売切れ品", {value: 1, style: "display: inline-block;"} %>
      </div>
    </div>

    <div class="items-detail">
      <div class="weight-bold-text question-text">
        <span>配送について</span>
        <a class="question" href="#">?</a>
      </div>
      <div class="form">
        <div class="weight-bold-text">
          配送料の負担
          <span class="indispensable">非売時必須</span>
        </div>
        <%= f.collection_select(:delivery_cost_id, DeliveryCost.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
        <div class="weight-bold-text">
          発送元の地域
          <span class="indispensable">非売時必須</span>
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>
        <div class="weight-bold-text">
          発送までの日数
          <span class="indispensable">非売時必須</span>
        </div>
        <%= f.collection_select(:delivery_time_id, DeliveryTime.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
      </div>
    </div>

    <div class="sell-price">
      <div class="weight-bold-text question-text">
        <span>販売価格<br>(¥300〜9,999,999)</span>
        <a class="question" href="#">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">非売時必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>
        <div class="price-content">
          <span>販売手数料 (5%)</span>
          <span>
            <span id='add-tax-price'></span>円
          </span>
        </div>
        <div class="price-content">
          <span>販売利益</span>
          <span>
            <span id='profit'></span>円
        </div>
        </span>
      </div>
    </div>

    <div class="caution">
      <p class="sentence">
        加工食品の販売には保健所、
        有機野菜としての販売は有機JASの認証が必要です。
        無許可での加工食品、および有機野菜としての販売は
        法令違反であり処罰される可能性があります。
      </p>
      <p class="sentence">
        出品をもちまして
        利用規約に同意したことになります。
      </p>
    </div>

    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

  </div>
  <% end %>
</div>
