<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <%#link href="css/styles.css" rel="stylesheet" /%>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">カルノーカ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->

        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class='imagesContainer'>
                    <div class='showMainImage', id='mainImage', style="background-image: url(<%= rails_blob_path(@crop.images[0])%>)">
                    </div>
                    <ul class="subImagesContainer">
                        <% @crop.images.each_with_index do |image, i| %>
                            <div class='subImage', style="background-image: url(<%= rails_blob_path(@crop.images[i])%>)">
                            </div>
                        <% end %>
                    </ul>
                </div>
                    <div class="col-lg-5">
                        <h1 class="font-weight-light"><%= @crop.item_name %></h1>
                        <p><%= @crop.explanation %></p>
                        <p>産地: <%= @crop.prefecture.name %></p>
                        <p>状態: <%= @crop.condition.name %></p>
                        <p>値段: <%= @crop.price %>円,   輸送費: <%=@crop.delivery_cost.name %></p>
                        <p>到着日数: <%=@crop.delivery_time.name %></p> 
                        <% if user_signed_in? %>
                        <% if current_user.id != @crop.user.id %>
                        <%= link_to "購入画面に進む", crop_purchases_path(@crop.id) ,class:"btn btn-1"%>
                        <% end %>
                        <% end %>
                        <%= link_to "戻る", crops_path ,class:"btn btn-1"%>
                    </div>
                </div>
                <% if user_signed_in? %>
                <% if current_user.id == @crop.user.id %>
                <%= link_to "削除", crop_path, method: :delete, class:"btn btn-1"%>
                <%= link_to "商品の編集", edit_crop_path, method: :get, class:"btn btn-1"%>
                <% end %>
                <% end %>
        </div>
    

  <div class="input-message">
    <% if user_signed_in? %>
      <%= form_with(model: [@crop, @message], local: true) do |f| %>
    <div class="img-upload">
      <strong ><p class=comment-form>コメントフォーム</p>
      </strong>

      <div class="weight-bold-text">
        投稿画像
        <span class="indispensable">どちらか必須</span>
      </div>

      <div class=" click-upload">
        <p>
          クリックorドラッグ&ドロップで
          <br>画像ファイルを1枚アップロード
          <br>
          <br>差替時は再度クリックorドラッグ&ドロップ
        </p>
        <div class='message-input', id='message-input'>
        <%= f.file_field :image,  class:" dropzone message-image-input"  %>
        </div>
      </div>

      <div class="weight-bold-text">
        コメント
      <span class="indispensable">どちらか必須</span>
      </div>
        <%= f.text_area :comment, class:"message-text", id:"item-info", placeholder:"コメント(120字以内)" ,rows:"7" ,maxlength:"120" %>
        <%= f.submit "SEND" %>
    </div>
      <% end %>

    <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
        </strong>
    <% end %>
    
  </div>


    <div class="messages">
      <h4>＜コメント一覧＞</h4>
      <% @messages.each do |message| %>
        <div class="messages-content">
          <strong><%= link_to message.user.nickname, "/users/#{message.user_id}", class: 'message-name' %></strong>
          <%= image_tag message.image.variant(resize: '250x250'),  class: 'message-image' if message.image.attached? %>
          <%= message.comment %>
        </div>
      <% end %>
    </div>
  </div>
    


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; mm_hm 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <%#script src="js/scripts.js"></script%>
    </body>
</html>
